#define WIFI_SSID "Martin Router King"
#define WIFI_PASSWORD  "security!"
#define LOCATION_Q Firenze,it
// your openweathermap appid (https://openweathermap.org/appid)
#define APPID XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

