// lattitude
#define LAT "52.520008"
// longtitude
#define LON "13.404954" 
#define WIFI_SSID "Martin Router King"
#define WIFI_PASSWORD  "security!"
// your openweathermap appid (https://openweathermap.org/appid)
#define APPID XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
// your healthchecks request (https://healthchecks.io/)
#define HEALTHCHECKS XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
